.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__radio-list {
  margin: 0;
  padding: 0;
}

.form__checkbox-list {
  margin: 0;
  padding: 0;
}

.form__notification {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
