.before-after {
  background-color: #eaeaea;
}

.before-after__title {
  margin: 0 0 40px 0;
}

.before-after__wrapper {
  width: 320px;
  padding: 25px 20px 40px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.before-after__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 20px;
}

.before-after__description-br {
  display: none;
}

@media (min-width: 768px) {
  .before-after {
    background-color: #ffffff;
    position: relative;
    z-index: 0;
  }

  .before-after__stats-wrapper {
    margin-bottom: 5px;
  }

  .before-after::before {
    content: "";
    background-color: #eaeaea;
    height: 462px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .before-after__wrapper {
    width: 768px;
    padding: 43px 30px 55px 30px;

    .before-after__title {
      margin: 0 0 64px 0;
      font-size: 60px;
      line-height: 60px;
    }
  }

  .before-after__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px 0;
  }

  .before-after__slider-wrapper {
    margin: 0 auto;
  }

  .before-after__description-br {
    display: inline-block;
  }
}

@media (min-width: 1440px) {
  .before-after__wrapper {
    width: 1440px;
    padding: 45px 110px 44px 110px;
    flex-direction: row;

    .before-after__title {
      margin-bottom: 146px;
      margin-top: 0;
    }
  }

  .before-after__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 70px 0;
    margin-left: -1px;
  }

  .before-after__description-br {
    display: none;
  }

  .before-after::before {
    background-color: #f2f2f2;
  }

  .before-after__stats-wrapper {
    width: 436px;
  }

  .before-after__slider-wrapper {
    margin: -42px 0 0 0;
  }
}
