.checkbox-group {
  margin: 0;
  padding: 0 0 32px 0;
  border: none;
}

.checkbox-group__title {
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  padding: 0 23px;
  margin-left: -23px;
}

.checkbox-group__title::before {
  content: "";
  margin-top: 16px;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  right: 0;
  z-index: -1;
}

.checkbox-group__list {
  margin: 0;
  padding: 34px 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 13px;
}

.checkbox-group__label {
  position: relative;
  padding-left: 46px;
  height: 30px;
  display: flex;
  align-items: center;
}

.checkbox-group__checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-group__text::before {
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");
  background-size: 100% auto;
}

.checkbox-group__label:hover .checkbox-group__text::before {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23bababa'/%3E%3C/svg%3E%0A");
}

.checkbox-group__label:active {
  opacity: 0.3;
}

.checkbox-group__checkbox:checked + .checkbox-group__text::before {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23cdcdcd'/%3E%3Cpath d='M17 26.499L9.4 17.901L8 19.4848L17 29.6667L32 12.697L30.6 11L17 26.499Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
}

.checkbox-group__label:hover .checkbox-group__checkbox:checked + .checkbox-group__text::before {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23bababa'/%3E%3Cpath d='M17 26.499L9.4 17.901L8 19.4848L17 29.6667L32 12.697L30.6 11L17 26.499Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
}

.checkbox-group__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.checkbox-group__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-group__button {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 21px;
}

.checkbox-group__tip {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: 768px) {
  .checkbox-group {
    padding: 0 103px 72px 40px;
  }

  .checkbox-group__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 41px;
    margin-left: -41px;
  }

  .checkbox-group__title::before {
    margin-top: 21px;
  }

  .checkbox-group__list {
    width: 565px;
    padding: 57px 0 54px 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  .checkbox-group__label {
    padding-left: 59px;
    height: 40px;
  }

  .checkbox-group__text::before {
    width: 40px;
    height: 40px;
  }

  .checkbox-group__text {
    font-size: 20px;
    line-height: 30px;
  }

  .checkbox-group__button-wrapper {
    flex-direction: row;
  }

  .checkbox-group__button {
    width: 282px;
    padding: 13px;
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 61px;
  }

  .checkbox-group__tip {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .checkbox-group {
    padding: 0 0 82px 0;
  }

  .checkbox-group__list {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 57px 0 61px 0;
  }

  .checkbox-group__button {
    width: 568px;
  }
}
