.comment-group {
  margin: 0;
  padding: 38px 0 20px 0;
  border: none;
}

.comment-group__title {
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  padding: 0 23px;
  margin-left: -23px;
}

.comment-group__title::before {
  content: "";
  margin-top: 16px;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  right: 0;
  z-index: -1;
}

.comment-group__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 10px 14px;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  height: 150px;
  resize: none;
}

.comment-group__comment:hover {
  border-color: #cdcdcd;
}

@media (min-width: 768px) {
  .comment-group {
    padding: 76px 40px 61px 40px;
  }

  .comment-group__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 41px;
    margin-left: -41px;
  }

  .comment-group__title::before {
    margin-top: 22px;
  }

  .comment-group__comment {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    height: 174px;
  }
}

@media (min-width: 1440px) {
  .comment-group {
    padding: 76px 0 63px 0;
  }
}
