.footer-navigation {
  background-color: #f2f2f2;
}

.footer-navigation__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 95px 63px 78px;

  .footer-navigation__logo {
    width: 128px;
    height: 24px;
    margin: auto;
    justify-content: center;
    align-items: stretch;
  }
}

.footer-navigation__social-wrapper {
  border-top: 1px solid #d9d9d9;
  display: flex;
}

.footer-navigation__social-list {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 132px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation__social-item {
  width: 28px;
  height: 22px;
}

.footer-navigation__link svg {
  fill: #666666;
}

.footer-navigation__link:hover svg {
  fill: #68b738;
}

.footer-navigation__link:active svg {
  fill: #68b738;
  opacity: 0.3;
}

.footer-navigation__html-logo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
}

.footer-navigation__html-logo:hover svg {
  fill: #68b738;
}

.footer-navigation__html-logo:active {
  opacity: 0.3;
}

.footer-navigation__html-logo svg {
  fill: #666666;
}

@media (min-width: 768px) {
  .footer-navigation__wrapper {
    width: 768px;
    padding: 0 30px;
    min-height: 147px;
    display: grid;
    grid-template-columns: 24.2% 50% 25.8%;
    grid-template-rows: 1fr;

    .footer-navigation__logo {
      margin: auto auto auto 0;
    }

    .logo__text {
      width: 128px;
      height: 24px;
      fill: #111111;
    }
  }

  .footer-navigation__html-logo {
    width: 163px;
    border-top: none;
    margin-left: auto;
  }

  .footer-navigation__social-wrapper {
    border-top: none;
  }
}

@media (min-width: 1440px) {
  .footer-navigation__wrapper {
    width: 1440px;
    padding: 0 110px;
    grid-template-columns: 24.8% 50% 25.2%;
    grid-template-rows: 1fr;

    .footer-navigation__logo {
      margin: auto auto auto 0;
    }
  }
}
