.logo {
  width: 190px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__text {
  fill: #111111;
}


@media (min-width: 768px) {
  .logo {
    width: 174px;
    height: 51px;
  }

  .logo__icon {
    width: 60px;
    height: 51px;
  }

  .logo__text {
    fill: #444444;
  }
}

@media (min-width: 1440px) {
  .logo {
    width: 202px;
    height: 59px;
  }

  .logo__icon {
    width: 70px;
    height: 59px;
  }

  .logo__text {
    width: 118px;
    height: 21px;
  }
}
