.main-header {
  background-color: #ffffff;
}

.main-header__wrapper {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    padding: 28px 30px 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    padding: 56px 110px;
  }
}
