.products__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 41px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .products__wrapper {
    width: 768px;
    padding: 0 30px;
    padding-top: 35px;
  }

  .products__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .products__list {
    padding-top: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 86px 60px;
  }
}

@media (min-width: 1440px) {
  .products__wrapper {
    width: 1440px;
    padding: 0 110px;
  }

  .products__list {
    padding-top: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
