.programs__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 20px 20px;
  margin: 0 auto;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  margin-bottom: 19px;
}

.programs__item:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .programs__wrapper {
    width: 768px;
    padding: 0 30px;
  }

  .programs__item {
    margin-bottom: 30px;
  }

  .programs__item:last-child {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .programs__wrapper {
    width: 1440px;
    padding: 22px 110px 0 110px;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .programs__item {
    margin-bottom: 45px;
  }

  .programs__item:last-child {
    margin-bottom: 45px;
  }
}
